/* imports ---------------- */
@import "reset.css";
@import "vars.css";

/* styles ----------------- */

/* blocks */
body {
    font-family: var(--font-family);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* tags styles -------------- */
h1, h2 {
    font-weight: 700;
    color: var(--black);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1rem;
    text-transform: uppercase;
}

h3 {
    font-weight: 400;
    font-size: 2rem;
    color: var(--gray);
}

a, p {
    font-weight: 400;
    font-size: .8rem;
    color: var(--black);
}

a {
    text-transform: uppercase;
}

p {
    line-height: 120%;
}

button {
    padding: 28px 81px;

    background: var(--black);

    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 1.1em;
    text-transform: uppercase;
    color: var(--white);

    transition: .2s;
}


/* container classes ----------- */
.container {
    max-width: 1240px;
    width: 100%;

    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}